In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/content/Churn_Modelling.csv")

In [7]:
df.sample()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
5982,5983,15704378,Calabrese,655,Germany,Male,37,9,121342.24,1,1,1,180241.44,0

In [11]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [15]:
df.duplicated().sum()

0

In [17]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [22]:
df = df.drop(columns = ["RowNumber",	"CustomerId", "Surname"] , axis = 0)

In [24]:
df = pd.get_dummies(df,columns=["Geography"	, "Gender"], drop_first = True)

In [25]:
df.sample(4)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
4910,597,36,9,0.00,2,1,1,7156.09,0,0,0,0
6417,790,37,6,0.00,2,1,1,119484.01,0,0,1,1
4438,672,68,0,126061.51,2,1,1,184936.77,0,1,0,1
1074,535,31,7,111855.04,2,1,1,36278.89,0,0,0,0

In [26]:
x = df.drop(columns = ["Exited"])
y = df["Exited"]

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [30]:
from sklearn.preprocessing import StandardScaler
scalar = StandardScaler()

x_train_scalar = scalar.fit_transform(x_train) 
x_test_scalar = scalar.fit_transform(x_test)

In [31]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [32]:
model = Sequential()

In [33]:
model.add(Dense(3,activation='sigmoid',input_dim=11))
model.add(Dense(1,activation='sigmoid'))

In [34]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 3)                 36

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 40
Trainable params: 40
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(loss="binary_crossentropy" , optimizer = "Adam")

In [37]:
model.fit(x_train_scalar,y_train,epochs = 100)

Epoch 1/100
235/235 [==============================] - 2s 4ms/step - loss: 0.7824
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6291
Epoch 3/100
235/235 [==============================] - 0s 1ms/step - loss: 0.5498
Epoch 4/100
235/235 [==============================] - 0s 1ms/step - loss: 0.5104
Epoch 5/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4890
Epoch 6/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4754
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4653
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4571
Epoch 9/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4501
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4444
Epoch 11/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4397
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4360
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4331
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4307
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4289
Epoch 16/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4273
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4260
Epoch 18/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4248
Epoch 19/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4236
Epoch 20/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4227
Epoch 21/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4218
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4209
Epoch 23/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4202
Epoch 24/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4195
Epoch 25/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4189
Epoch 26/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4182
Epoch 27/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4177
Epoch 28/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4171
Epoch 29/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4166
Epoch 30/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4162
Epoch 31/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4157
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4154
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4150
Epoch 34/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4146
Epoch 35/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4143
Epoch 36/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4140
Epoch 37/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4137
Epoch 38/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4134
Epoch 39/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4131
Epoch 40/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4129
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4126
Epoch 42/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4123
Epoch 43/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4121
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4119
Epoch 45/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4117
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4115
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4114
Epoch 48/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4112
Epoch 49/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4110
Epoch 50/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4108
Epoch 51/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4107
Epoch 52/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4105
Epoch 53/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4104
Epoch 54/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4103
Epoch 55/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4101
Epoch 56/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4100
Epoch 57/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4098
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4097
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4096
Epoch 60/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4095
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4094
Epoch 62/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4093
Epoch 63/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4092
Epoch 64/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4091
Epoch 65/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4090
Epoch 66/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4089
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4088
Epoch 68/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4088
Epoch 69/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4086
Epoch 70/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4086
Epoch 71/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4085
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4084
Epoch 73/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4084
Epoch 74/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4082
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4082
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4081
Epoch 77/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4081
Epoch 78/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4079
Epoch 79/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4079
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4078
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4078
Epoch 82/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4077
Epoch 83/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4076
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4076
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4075
Epoch 86/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4075
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4074
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4073
Epoch 89/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4073
Epoch 90/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4072
Epoch 91/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4072
Epoch 92/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4072
Epoch 93/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4071
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4070
Epoch 95/100
235/235 [==============================] - 0s 1ms/step - loss: 0.4070
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4070
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4069
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4069
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4069
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4068

In [40]:
model.layers[0].get_weights()

[array([[ 3.73857915e-02,  3.32640231e-01,  2.38928553e-02],
        [-2.76795149e+00, -3.74670029e+00, -2.72696644e-01],
        [ 1.19808532e-01,  7.00517185e-03, -2.09495472e-03],
        [-1.91241607e-01,  2.18526468e-01,  7.62643158e-01],
        [-8.04142207e-02,  7.45282397e-02, -1.72785167e-02],
        [ 2.99390167e-01, -3.98788393e-01, -6.02765530e-02],
        [-1.64075777e-01, -1.57225728e+00, -2.31898046e+00],
        [ 6.89110011e-02,  3.15120459e-01,  3.71583939e-01],
        [-7.84670353e-01, -1.00250244e-01,  3.70569855e-01],
        [ 5.64405978e-01, -5.20256579e-01,  7.96584412e-02],
        [ 3.75195414e-01, -3.81945036e-02, -9.59896266e-01]], dtype=float32),
 array([0.6639106 , 0.21011907, 0.08209047], dtype=float32)]

In [46]:
a = model.predict(x_test_scalar)

In [49]:
import numpy as np
y_pred = np.where(a>0.5,1,0)

In [50]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.846

In [ ]:
#further we can do hyperparameter tunning